@charset "UTF-8";

@font-face {
    font-family: 'Ethnocentric';
    src: url('../fonts/ethnocentric.otf') format('opentype');
}

/*
    - PALETA DE CORES

    Cor 1 - #32D8FF
    Cor 2 - #5BC6FF
    Cor 3 - #96ADFF
    Cor 4 - #C698FF
    Cor 5 - #FE80FF
*/

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --Cor1: #32D8FF;
    --Cor2: #5BC6FF;
    --Cor3: #96ADFF;
    --Cor4: #C698FF;
    --Cor5: #FE80FF;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-mod: 'Ethnocentric', sans-serif;
}

body {
    color: black;
    background-image: linear-gradient(45deg, var(--Cor3), var(--Cor4));
    font-family: var(--font-padrao);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.463);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.175);
}

#logo {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo > a {
    color: white;
    font-style: italic;
    text-decoration: none;
    font-family: var(--font-mod);
}

#logo > a > img {
    width: 45px;
}

#logo > a > img, #logo > a > p {
    padding: 10px;
    transition-duration: 0.5s;
}

#logo > a > p:hover {
    padding: 15px;
}

#button-menu  > div {
    display: none;
}

header > nav > a {
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: bolder;
    text-decoration: none;
    transition-duration: 0.5s;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#home-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#home-img > img {
    max-width: 100%;
}

#home-conteudo {
    width: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

#home-conteudo > h1 {
    padding: 10px;
    font-size: 2.5em;
    font-style: italic;
    font-family: var(--font-mod);
}

#home-conteudo > article > div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

#home-conteudo > article > p {
    padding: 10px;
    font-size: 1.1em;
}

#button-login {
    width: 170px;
    margin: 10px;
    border-radius: 7px;
    background-color: white;
    border: 1px solid white;
}

#button-cadastro {
    width: 170px;
    margin: 10px;
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid white;
}

#button-login:hover, #button-cadastro:hover {
    cursor: pointer;
}

#button-login > p {
    padding: 10px;
    text-align: center;
    color: transparent;
    font-weight: bolder;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, var(--Cor3), var(--Cor4));
}

#button-cadastro > p {
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bolder;
}

@media (max-width: 650px) {
    header > nav > a {
        font-size: 13px;
        transition-duration: 0.5s;
    }
}

@media (min-width: 600px) {
    header > nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        padding: 5px;
        gap: 5px;
    }
}

@media (max-width: 599px) {
    header {
        position: relative;
    }

    header > nav {
        background-color: white;
    }

    #logo > a {
        width: 200px;
    }

    #logo > a > p {
        font-size: 14px;
        transition-duration: 0.5s;
    }

    #button-menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        font-weight: bolder;
    }

    #button-menu  > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    
        padding: 10px;
        font-size: 14px;
    }

    header > nav {
        position: absolute;
        display: none;
        flex-direction: column;

        width: 200px;
        top: 100%;
        right: 0%;
        font-size: 16px;
    }

    header > nav > a {
        font-size: 16px;
    }
}