@charset "UTF-8";

@font-face {
    font-family: 'Ethnocentric';
    src: url('../fonts/ethnocentric.otf') format('opentype');
}

/*
    - PALETA DE CORES

    Cor 1 - #32D8FF
    Cor 2 - #5BC6FF
    Cor 3 - #96ADFF
    Cor 4 - #C698FF
    Cor 5 - #FE80FF

    #FDE3A7D7
*/

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --Cor1: #32D8FF;
    --Cor2: #5BC6FF;
    --Cor3: #96ADFF;
    --Cor4: #C698FF;
    --Cor5: #FE80FF;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-mod: 'Ethnocentric', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    position: relative;
    background-image: linear-gradient(45deg, var(--Cor3), var(--Cor4));
    font-family: var(--font-padrao);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.463);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.175);
}

#logo {
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo > a {
    color: white;
    font-style: italic;
    text-decoration: none;
    font-family: var(--font-mod);
}

#logo > a > img {
    width: 45px;
    padding: 10px;
}

#logo > a > p:hover {
    padding: 15px;
}

#logo > a > img, #logo > a > p {
    transition-duration: 0.5s;
}

#button-menu  > div {
    display: none;
}

header > nav > a {
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: bolder;
    text-decoration: none;
    transition-duration: 0.5s;
}

header > nav > a:hover {
    padding: 13px;
    cursor: pointer;
    transition-duration: 0.5s;
}

main {
    min-height: 100vh;
    padding: 25px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home-content > figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#home-content > figure > img {
    max-width: 100%;
}

#home-content {
    width: 100%;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#home-content > article {
    width: 100%;
}

#home-content > article > h1 {
    padding: 10px;
    font-size: 2.5em;
    font-style: italic;
    font-family: var(--font-mod);
    transition-duration: 0.5s;
}

#home-content > article > p {
    padding: 10px;
    font-size: 1.1em;
}

#home-content > article > div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

#button-login {
    margin: 10px;
    border-radius: 7px;
    background-color: white;
    border: 1px solid white;
}

#button-cadastro {
    margin: 10px;
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid white;
}

#button-login, #button-cadastro {
    width: 170px;
    transition-duration: 0.5s;
}

#button-login:hover, #button-cadastro:hover {
    cursor: pointer;
    padding: 2px;
    transition-duration: 0.5s;
}

#button-login > p {
    padding: 10px;
    text-align: center;
    color: transparent;
    font-weight: bolder;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, var(--Cor3), var(--Cor4));
}

#button-cadastro > p {
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bolder;
}

#about {
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

#about > article {
    max-width: 600px;
    margin: auto;
    color: white;
    text-align: justify;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about > article > h1 {
    padding: 10px;
    font-size: 3em;
    text-align: center;
}

#about > article > p {
    font-weight: normal;
    font-size: 1.1em;
}

#about > figure {
    display: flex;
    justify-content: center;
}

#about > figure > img{
    width: 100%;
    max-width: 600px;
}

#register {
    display: none;
    margin: auto;
}

#register > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#register > div > figure {
    padding: 25px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FDE3A7D7;
}

#register > div > figure > img {
    width: 80%;
}

#register > div > article {
    padding: 25px;
    width: 465px;
    background-color: white;
}

#register > div > article > h1 {
    padding: 0px 0px 15px 0px;
}

.style-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin: 15px 0px;
}

.style-form > div {
    display: flex;
    flex-direction: column;
}

.style-form > div > label {
    padding: 10px 0px;
    font-weight: bolder;
}

#user-gender {
    display: flex;
    flex-direction: column;
}

#user-gender > h1 {
    font-size: 16px;
    padding: 10px 0px;
}

#user-gender > div {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#user-gender input, #user-gender label {
    cursor: pointer;
}

.style-form input {
    border: none;
    outline: 1px solid white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 6px #0000001c;
    transition-duration: 0.5s;
}

.style-form input:hover {
    cursor: pointer;
    outline: 1px solid #C698FF;
    background-color: #eeeeee75;
    transition-duration: 0.5s;
}

#button-register {
    width: 100%;
    padding: 7px;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
    margin: 25px 0px 0px 0px;
    background-color: var(--Cor3);
}

#button-register:hover {
    cursor: pointer;
}

#register > div > article > form > p {
    padding: 5px;
    font-size: 13px;
    text-align: center;
}

#register > div > article > form > p > a {
    color: #5b87ff;
    text-decoration: none;
}

#login {
    display: none;
    margin: auto;
}

#login > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#login > div > article > h1 {
    padding: 0px 0px 15px 0px;
}

#login > div > figure {
    padding: 25px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FDE3A7D7;
}

#login > div > figure > img {
    width: 80%;
}

#login > div > article {
    padding: 25px;
    width: 465px;
    background-color: white;
}

#button-logar {
    width: 100%;
    padding: 7px;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
    margin: 25px 0px 0px 0px;
    background-color: var(--Cor3);
}

#button-logar:hover {
    cursor: pointer;
}

#login > div > article > form > p {
    padding: 5px;
    font-size: 13px;
    text-align: center;
}

#login > div > article > form > p > a {
    color: #5b87ff;
    text-decoration: none;
}



.style-form-login {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.style-form-login > label {
    padding: 10px 0px;
    font-weight: bolder;
}

.style-form-login input {
    border: none;
    outline: 1px solid white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 6px #0000001c;
    transition-duration: 0.5s;
}

.style-form-login input:hover {
    cursor: pointer;
    outline: 1px solid #C698FF;
    background-color: #eeeeee75;
    transition-duration: 0.5s;
}

#not-found {
    width: 100%;
    display: none;
}

#not-found > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#not-found > article > figure > img {
    max-width: 400px;
    margin: auto;
    transition-duration: 0.5s;
}

#not-found > article > h1 {
    padding: 25px;
    color: white;
    font-size: 2em;
    transition-duration: 0.5s;
}

#not-found > article > p {
    padding: 5px;
    color: white;
    max-width: 600px;
    text-align: center;
}

#not-found > article > a {
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.624);
}

@media (max-width: 999px) {
    #register > div > figure {
        display: none;
    }

    #login > div > figure {
        display: none;
    }
}

@media (max-width: 849px) {
    #home-content {
        flex-direction: column;
        gap: 25px;
    }

    #home-content > article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #home-content > article > h1 {
        font-size: 2.4em;
    }

    #home-content > article > div {
        justify-content: center;
    }

    #about {
        flex-direction: column;
    }

    #about > figure > img{
        max-width: 400px;
    }
}

#error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 15px;
    width: 305px;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.678);
    background-color: rgb(33, 33, 33);
}

#error > figure {
    width: 50px;
    margin: auto;
}

#error > figure > img {
    width: 100%;
}

#error > p {
    padding: 25px 0px;
}

#error > div > p {
    width: 50px;
    margin: auto;
    color: rgba(255, 255, 255, 0.504);
}

#error > div > p:hover {
    cursor: pointer;
}

@media (max-width: 650px) {
    header > nav > a {
        font-size: 13px;
        transition-duration: 0.5s;
    }
}

@media (min-width: 600px) {
    header > nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        padding: 5px;
        gap: 5px;
    }
}

@media (max-width: 599px) {
    header {
        position: relative;
    }

    header > nav {
        display: none;
        flex-direction: column;
        position: absolute;

        width: 200px;
        top: 100%;
        right: 0%;
        height: 100vh;
        font-size: 16px;
        border-radius: 0px 0px 0px 7px;
        box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.282);
        background-color: rgb(223, 198, 251);
    }

    #logo > a {
        width: 200px;
    }

    #logo > a > p {
        font-size: 14px;
        transition-duration: 0.5s;
    }

    #button-menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        font-weight: bolder;
    }

    #button-menu  > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    
        padding: 10px;
        font-size: 14px;
    }

    header > nav > p {
        color: black;
        font-size: 16px;
    }

    #home-content > article > h1 {
        font-size: 2.2em;
        transition-duration: 0.5s;
    }

    #button-login, #button-cadastro {
        width: 135px;
        transition-duration: 0.5s;
    }

    main {
        padding: 15px 0px;
    }

    #register {
        margin: auto;
    }

    #register > div > article {
        width: 270px;
    }

    .style-form {
        flex-direction: column;
    }

    #login {
        margin: auto;
    }

    #login > div > article {
        width: 270px;
    }

    .style-form-login {
        flex-direction: column;
    }
    
    #not-found > article > figure > img {
        max-width: 300px;
        transition-duration: 0.5s;
    }
    
    #not-found > article > h1 {
        padding: 25px;
        font-size: 1.5em;
        transition-duration: 0.5s;
    }
}